@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.user-img-display {
    width: 32px;
    border-radius: 50%;
}

.navbar {
    background-color: black;
    padding: 10px 40px;
}

.main-content {   
    width: 800px;
    margin: 100px auto;
}

li {
    margin-left: 10px;
}

body {
    background-color: white;
}

.subtitle {

    color: #282828;
    font-weight: 600;
    font-size: 18px;
}

h3 {

    color: #282828;
    font-weight: 800;
    font-size: 32px;
}

.paragraph {
    color: #282828;
    font-size: 17px;
}

.bigger-sub {
    color: #282828;
    margin: 10px 0;
    font-size: 28px;
    font-weight: 800;

}

hr {
    margin: 10px 0 10px 0;
}

ul {
    padding-left: 45px;
    color: #282828;
}

.italic {
    font-style: italic;
    color: rgba(0, 0, 0, 0.722);
}


.small-subtitle {
    font-size: 18px;
    color: #282828;
    font-weight: 600;;
}

svg {
    width: 32px;
    color: #282828;
    margin-right: 5px;
}

.icon-subtile {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.accordions {
    padding-left: 10px;
    margin: 0 0 10px 0;
}

.accordions label:hover{
    border-left: 3px solid #108537;
    background: linear-gradient(90deg, #28282835, rgba(24, 199, 83, 0.05));
    transform: translateX(5px);
}


.accordions li {
    list-style: none;
}

.accordions li label {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;    
    padding-left: 10px;    
    border-radius: 5px;
    transition: transform 0.2 ease, background-color 0.2s ease;
}

label::before {
    font-size: 10px;
    content: "▶";
    margin-right: 10px;
    transition: transform 0.3s ease;

}

input[type="checkbox"] {
    display: none;
}

.content .paragraph {
    line-height: 1.5;
    color: #5a5a5a;
    padding-left: 10px;
}

.content b {
    color: #5a5a5a;
}

.accordions .content {
    display: none;
    max-height: 0;
    overflow: hidden;
    padding: 0 25px;

    transition: max-height 0.5 ease-out, padding 0.5s ease-out;
}

.accordions input[type="checkbox"]:checked + label + .content {
    display: block;
    max-height: 100%;
    padding: 10px 25px;
}

.accordions input[type="checkbox"]:checked + label::before {
    
    transform: rotate(90deg);
}


.content-part {
    margin-bottom: 15px; 
}

a {
    color: #0e682c;
    text-decoration: none;
}
