@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Righteous&family=Rowdies:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poltawski Nowy', sans-serif;
}

body {
    background-color: #191919;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav-buttons button:first-child {
    margin-right: 10px;
}
.logo-image {
    width: 32px;
    
}

.logo-display-text {
    font-family: 'Righteous', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.btn-subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    height: 32px;
    padding: 0 10px;
    border: none;
}

.black-btn {
    background-color: #191919;
    color: #ffffff;
    cursor: pointer;
    border: none;
}


.hero-section {
    background-image: url('../../datas/images/resource/HeroSectionV4.png');
    width: 1280px;
    height: 562px;
    border-radius: 20px;
    margin: 40px auto 60px auto;
    display: block;
}
.hero {
    display: flex;
    align-items: center;
    height: calc(100% - 200px); 
}

.hero-content {
    margin-left: 50px;
    font-weight: 300;
}

h1 {
    font-size: 48px;
}

.subtitle {
    font-size: 20px;
}

.hero-h1 {
    font-family: 'Rowdies', sans-serif;
    max-width: 500px;
    margin-bottom: 20px;
    font-weight: 500;
}

.head-subtitle {
    font-family: 'Poltawski Nowy', sans-serif;
    font-size: 20px;
    max-width: 500px;
}

.search-input {
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #c6c6c647;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.search-input::placeholder {
    color: #ffffff;
    opacity: 1;;
}

.search-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 60px auto;
    width: 1130px;
}

.bold-subtitle {
    font-weight: 700;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-10%);
    display: flex;
    align-items: center;
}

.display-trending-playlist {
    margin: 0 auto 0px auto;
    width: 1280px;
}

h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.song-display {
    width: 170px;
    height: 170px;
}

.playlist-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

.playlist-title {
    font-size: 20px;
}

.paragraph {
    font-size: 15px;
    font-family: 'Crimson Text', serif;
}

.playlist-item {
    border-radius: 12px;
    padding: 16px;
    width: 190px;
}

.half-trans {
    color: #ffffff77;
}

.display-banner-music {
    margin: 0 auto 0px auto;
    width: 1280px;
}

.banner-music {
    position: relative;
    background: linear-gradient(to left, #67AEFF, #ffffff);
    width: 1280;
    height: 462px;
    border-radius: 20px; 
    overflow: visible;
}

.border-gradient {
    background: linear-gradient(to right, #67AEFF, #ffffff);
    padding: 4px; 
    border-radius: 20px; 
    margin: 40px auto;
}

.main-img-banner {
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    filter: drop-shadow(10px 1px 5px #00000048);
    z-index: 1;
    position: relative;
    display: block;
    object-fit: cover;
}

.vinyl-subimg {
    position: absolute;
    width: 460px;
    left: 230px;
    bottom: 0;
    z-index: 0;
}

.banner-info {
    position: absolute;
    align-items: end;
    width: 450px;
    top: 20px;
    right: 30px;
    color: #ffffff;
}

.tag {
    border: 2px solid #ffffff;
    width:fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.182);
}

.tag-list {
    margin: 10px 0px;
    display: flex;
 
}

.play-music-banner {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    margin-right: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.182);
    
}

.play-music-banner i {
    font-size: 36px;
}

.shadow-text {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.182);
}

.banner-paragraph {
    margin-top: 20px;
}

.sign-up-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin: 100px auto 100px auto;
}

.big-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    font-weight: 800;

}

.link-text {
    font-weight: 800;
    color: #ffffff;
}

footer {
    padding-top: 30px;
    background-color: #000000;
    height: 250px;
    
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: 0 auto 0 auto;
    justify-content: space-between;
}

.footer-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    height: 30px;
}

.footer-brand img {
    height: 50px;
    width: 50px;
}


.footer-info dd {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #ffffff;    
    text-decoration: none;
}

.footer-info a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
}

.footer-info dt {
    font-weight: 800;
    margin-bottom: 20px;
}

.circle-border {
    border-radius: 50%;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    color: #000000;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.footer-socials {
    display: flex;
    flex-direction: row;
}

.circle-border svg {
    width: 40px;
    height: 40px;
    fill: #000000;
}